body{
}

.heroes{
     height: auto;
     width: 75%;
     text-decoration: none;
    font-family: Montserrat;

}

 .liste{

 }

 .badge{

 }

 .title{
     color: orangered;
     font-family: "Trebuchet MS";
 }

 .name{
     color: firebrick;
     list-style: none;

 }