    <h1>{{title}}</h1>
    <ul class="heroes">
      <li *ngFor="let json of JSONS"
       [class.selected]="json === selectedHero"
            (click)="onSelect(json)">
        <span class="badge">{{json.id}}</span> {{json.name}}
      </li>
    </ul>
          <h2>{{json.name}} details!</h2>
          <div><label>id: </label>{{json.id}}</div>
          <div>{{json.summary}}</div>
        <div>{{json.genres}}</div>
        <li *ngFor="let screenshot of json.screenshots">
            <span>{{screenshot.url}}}</span>
          </li>
        